<%- include('./partials/navbar') %>

    <div class="jumbotron">        

        <% users.forEach(function(data){ %>
            <form action="/instructor/authenticateUsers" method="POST">
                <div class="item">
                    <p class="listItem">Name : <%= data.userName %></p>
                    <button class="btn btn-secondary" name="choice" value="<%= data._id %>" >Accept</button>
                    <!-- <button class="btn btn-secondary" name="choice" value="<%= data.userName %>" >Reject</button> -->
                </div>
            </form>
        <% }) %>
    </div>
</body>
</html>