<%- include('./partials/navbar') %>

<div class="jumbotron">
        <form action="">
            <button type="submit" class="btn btn-lg btn-success">
                <a href="/instructor" style="color: white;">Register as Instructor</a>
            </button>
            <button type="submit" class="btn btn-lg btn-success">
                <a href="/user" style="color: white;">Register as USER</a>
            </button>
        </form>
    </div>
</body>
</html>